* {
  box-sizing: border-box;
  list-style-type: none;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header-li {
  margin: 0;
  margin-bottom: 16px;
}
.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: 264px;
}
.item-li {
  border: 1px solid #808080;
  border-radius: 4px;

  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.inside-ul {
  padding-left: 0px;
  padding-right: 16px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.image {
  width: 360px;
  height: 300px;
}
.li-image {
  display: flex;
  flex-basis: calc((100% - 3 * 24px) / 6);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 24px;
  row-gap: 48px;
}
.header-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
}
#name-input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
}
.login-form {
  display: flex;
  flex-direction: column;
}
input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.button-submit {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
}
.button-submit:hover {
  background: #6c8cff;
}
input[name="password"] {
  margin-top: 8px;
  margin-bottom: 16px;
}
input[name="email"] {
  margin-top: 8px;
  margin-bottom: 8px;
}
.widget-p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
}
.change-color:hover {
  background: #6c8cff;
}
#controls {
  display: flex;
  gap: 16px;
  background: #f6f6fe;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
}
.input-number {
  padding-left: 72px;
  background: #f6f6fe;
  border: 1px solid #808080;
  border-radius: 8px;

  width: 150px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
button[data-create] {
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
}
button[data-destroy] {
  background: #ff4e4e;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
}
button[data-create]:hover {
  background: #6c8cff;
}
button[data-destroy]:hover {
  background: #ff7070;
}
#boxes {
  margin-top: 16px;
  background: #f6f6fe;
  display: flex;
  gap: 44px;
}
